{# src/Perso/BlogBundle/Resources/views/Blog/actualites.html.twig #}

{% extends "JackBenzakenCmsBundle::base_frontend.html.twig" %}

{% block body %}
	<div class="bloc-container">
		<div class="page-title">
			<div class="page-title-content" style="margin-top:125px;">
				<span class="page-title-soft">L'Actualité</span> Esthétique
			</div>
		</div>
		<div><img style="display:block; margin: 0 auto;" src="{{ asset('img/actualites.jpg') }}"></div>
		
		<div class="bottom-content" style="margin-bottom:85px;">
			<!-- bloc à dupliquer pour ajouter une actualité ----------------------------------------------------->
			<div class="actualites-item">
				<div><img class="actualites-images"src="{{ asset('img/actualites_1.jpg') }}" width=400px;>
				<h2 class='visage-title'>10 questions à vous poser avant un acte esthétique <br>(Nov 2014)</h2><br><br>
				<h3>A qui dois-je m'adresser ?</h3>
				Le praticien que vous choisirez pourra vous être recommandé par vos amis ou votre médecin. Vous pourrez également le trouver sur le net. Dans tous les cas, assurez vous qu’il possède les compétences nécessaires par son inscription au Conseil de l’Ordre des Médecins, ses compétences et  ses diplômes. <strong>Vous adresser à un chirurgien qualifié en chirurgie plastique, reconstructrice et esthétique est un gage de compétence.</strong>
				<br><br>
				<div class="actualites-item-content" id="actualites-item-1-content"><!--incrémenter la valeur, il ne doit pas y avoir de doublons-->
					<h3>Comment se déroule une consultation ?</h3>
					Lors d’une première consultation, le chirurgien doit vous écouter entièrement, comprendre votre demande et l’analyser. Il pourra alors vous expliquer en détails les possibilités adaptées à votre cas.<br>
					Vous devrez prendre le temps de poser toutes les questions qui vous viennent à l’esprit.  Aucune question n’est idiote.<br>
					Des fiches d’informations et un devis détaillé vous seront remis.
					<br><br>
					<h3>Comment se déroulera l'intervention ?</h3>
					Votre praticien devra vous expliquer en détail  la procédure médicale, la durée de l’acte, le ressenti et les effets secondaires qui pourraient survenir.
					<br><br>
					<h3>Est-ce qu'il y a des précautions particulières à prendre ?</h3>
					Il faudra bien préciser les médicaments que vous prenez, vos antécédents médicaux,chirurgicaux et vos allergies éventuelles, afin de minimiser les risques liés à l’acte esthétique.<br>
					Pour la chirurgie, il est important de réduire ou d’arrêter la consommation de cigarette.<br>
					Pour tout acte, la prise d’aspirine ou d’anti-inflammatoires est déconseillée pendant les 8 jours avant.
					<br><br>
					<h3>Qui réalisera l'acte ?</h3>
					C’est le praticien <strong>que vous avez rencontré en consultation  qui doit réaliser l’acte esthétique.</strong>
					<br><br>
					<h3>Que puis-je faire après un acte esthétique ?</h3>
					Il faudra bien demander à votre praticien si vous pourrez retravailler et avoir une vie sociale normale, vous maquiller immédiatement après ou pas (en général, pour de la médecine esthétique, oui). Le sport doit en général être évité le jour même.<br>
					Pour une intervention chirurgicale, demandez bien quelle est la période prévisible d’arrêt de travail, d’arrêt de sport, les recommandations (drainages, vêtements, crèmes ..).
					<br><br>
					<h3>Est-ce douloureux ?</h3>
					Les gestes de médecine esthétiques peuvent être inconfortables, sans douleur persistante après l’acte. Pour plus de confort, une crème anesthésiante vous sera généralement prescrite. Pour certaines zones (lèvres), une anesthésie locale pourra être réalisée.
					<br><br>
					Pour les actes chirurgicaux, la douleur peut être minime ou parfois plus importante. L’évolution des techniques chirurgicales et l’utilisation d’anesthésiants locaux pendant l’intervention  réduisent considérablement la douleur post opératoire. Cependant, un traitement par des antalgiques vous sera systématiquement prescrit pour votre confort.
					<br><br>
					<h3>Quel est le prix global ?</h3>
					En médecine esthétique, le prix est fonction du produit utilisé et de sa quantité. Le praticien doit vous remettre un devis précis avant toute injection.<br>
					En chirurgie, le tarif dépend de l’acte précis et du temps prévu pour l’intervention. La aussi, un devis détaillé vous sera remis avant, incluant les consultations post opératoires.<br>
					Dans tous les cas, un tarif au rabais pour de la chirurgie ou de la médecine esthétique doit éveiller la méfiance sur la qualité des soins réalisés. 
					<h3>Combien de temps dure le résultat ?</h3>
					Pour la médecine esthétique, la durée d’action de chaque produit est différente. Pour la toxine botulique, le traitement devra en général être renouvelé 2 fois par an. Pour l’acide hyaluronique, selon le produit (plus ou moins réticulé)  et l’endroit injecté, l’effet pourra durer de 6 mois à 3 ans.<br>
					Pour la chirurgie, l’effet rajeunissant sur le visage dure environ de 10 à 15 ans. Pour les implants mammaires, un changement sera nécessaire après 10 à 15 ans.  En revanche, certains actes ont un effet définitif (rhinoplastie, chirurgie de la silhouette sous réserve de conserver un poids stable..).
					<br><br>
					<h3>Y a t'il un suivi par la suite ?</h3>
					Une consultation de contrôle sera systématiquement programmée.<br>
					En cas d’intervention chirurgicale un suivi régulier sera réalisé pendant une période de un an (ou plus en cas d’implants mammaires). Ces contrôles seront inclus dans le tarif initial.<br>
					Dans tous les cas, n’hésitez pas à contacter à tout moment l’assistante ou la secrétaire pour toute question	
					<br><br>
				</div>
				<a class="content-link cursor" id="actualites-item-1"><!--incrémenter avec la mm valeur qu'au dessus-->> En savoir plus</a>
			<hr/>
			</div>
			</div>
			<!-- fin bloc à dupliquer pour ajouter une actualité ----------------------------------------------------->
			
			<!-- bloc à dupliquer pour ajouter une actualité ----------------------------------------------------->
			<div class="actualites-item">
				<div style="padding-bottom:35px;"><img class="actualites-images"src="{{ asset('img/actualites_2.jpg') }}" width=400px;>
				<h2 class='visage-title'>Chirurgie esthétique : que faire après 50 ans pour une femme ?</h2><br><br>
				Le « cap » de la cinquante est parfois mal vécu. Les premiers signes de vieillissement apparaissent tant au niveau du visage que sur le reste du corps et c’est souvent à cette occasion que l’on consulte un chirurgien pour réparer les dégâts du temps.
				<br><br>
				<div class="actualites-item-content" id="actualites-item-2-content"><!--incrémenter la valeur, il ne doit pas y avoir de doublons-->
					<h3>Quelles sont les interventions les plus demandées ?</h3>
					<ul>
						<li><strong>Les injections de Botox ou de toxine botulique :</strong><br>
							Produit phare dans le monde  dont les résultats et l’efficacité ne sont plus à démontrer, le Botox est surtout indiqué pour corriger les rides d’expression (front, rides du lion, rides de la patte d’oie) mais également très utile pour corriger des commissures labiales affaissées. Son efficacité moyenne est de 6 mois. A réaliser 2 fois par an.<br>
							Le Botox est utile dans la correction des <strong>ridules autour des lèvres</strong> (lèvre supérieure notamment).
						</li><br>
						<li><strong>Les injections d'acide hyaluronique :</strong><br>
							 Elles ont un effet volumateur et  peuvent corriger un ovale du visage en attendant une chirurgie. Elles peuvent améliorer des sillons naso-géniens trop marqués, des plis d’amertume, augmenter les pommettes ou de façon naturelle repulper  des lèvres trop pincées.<br>
							 Il existe différents types d’acide hyaluronique indiqués pour chaque zone et chaque correction. L’utilisation de la canule souple a permis un meilleur confort pour le patient (notamment pour <strong>l’épaississement des lèvres</strong>, corriger <strong>la vallée des larmes</strong>).
						</li><br>
						<li><strong>Lifting cervico-facial :</strong><br>
							C’est à cet âge que l’on y pense le plus souvent, le visage a perdu son ovale, les bajoues commencent à apparaître. Il existe un relâchement cutané et musculaire global donnant parfois un aspect triste. On se regarde souvent devant la glace et mettant les deux mains de part et d’autre du visage pour évaluer le bénéfice d’une chirurgie.  Une liposuccion peut être effectuée dans le même temps pour corriger un excès de graisse (<strong>double menton</strong>).<br>
							Selon l’examen clinique, différents types de liftings peuvent être proposés : temporal, médio-central, cervico-facial, frontal (un peu moins souvent indiqué en raison de l’efficacité des injections de toxine botulique), mini-lift du cou ou du bas du visage.
						</li><br>
						<li><strong>La chirurgie des paupières ou blépharoplastie :</strong><br>
							Un excès cutané au niveau des paupières supérieures donne un aspect triste du regard, un excès graisseux au niveau des paupières inférieures donne un air fatigué. Ces interventions peuvent être  combinées avec le lifting cervico-facial.
						</li><br>
						<li><strong>Plastie mammaire : </strong><br>
							Les seins affaissés (ptosés) ou vidés peuvent bénéficier d’une mastoplastie avec ou sans pose de prothèses mammaires. En cas d’hypertrophie mammaire une réduction du volume fait parfois l’objet d’une demande à cet âge.
						</li><br>
						<li><strong>Liposuccion :</strong><br>
							La graisse accumulée au niveau du ventre, des hanches et de la culotte de cheval peut être accessible à la liposuccion.<br>
							Cependant après 50 ans la peau perd de son élasticité et cela peut constituer une contre indication à cette intervention.
						</li><br>
						<li><strong>Plastie abdominale :</strong><br>
							Suite aux grossesses multiples ou aux variations de poids un tablier abdominal peut apparaître .Dans ces cas une plastie abdominale est proposée.<br>
							Une prise en charge par l’Assurance Maladie est possible après entente préalable.
						</li><br>
						<li><strong>Correction d'une gynécomastie chez l'homme :</strong><br>
							Elle peut être d’origine graisseuse et dans ce cas une simple liposuccion peut être effectuée .Mais il peut s’agir d’une gynécomastie de type mixte(graisse et glande) et dans ce cas un geste chirurgical supplémentaire est nécessaire.
						</li><br>
						<li><strong>Rhinoplastie :</strong><br>
							Intervention parfois demandée à cet âge. En fait la rhinoplastie est plutôt réalisée chez le sujet plus jeune.
						</li>
					</ul><br>
				</div>
				<a class="content-link cursor" id="actualites-item-2"><!--incrémenter avec la mm valeur qu'au dessus-->> En savoir plus</a>
			<hr/>
			</div>
			</div>
			<!-- fin bloc à dupliquer pour ajouter une actualité ----------------------------------------------------->
			
			<!-- bloc à dupliquer pour ajouter une actualité ----------------------------------------------------->
			<div class="actualites-item">
				<div><img class="actualites-images"src="{{ asset('img/actualites_3.jpg') }}" width=400px;>
				<h2 class='visage-title'>Les adolescents et la chirurgie esthétique</h2><br><br>
				La période de la puberté est souvent associée à une quête d’identité à un moment où la personnalité n’est pas encore affirmée. Le désir de changement physique est parfois si important qu’il peut engendrer des retentissements psychologiques graves. Les parents doivent être vigilants et à l’écoute  de leurs enfants en souffrance. Il ne faut cependant pas tout accepter. Certaines émissions donnent trop souvent l’envie aux jeunes de consulter un chirurgien plasticien.	
				<br><br>
			
				<div class="actualites-item-content" id="actualites-item-3-content" style="margin-top:92px"><!--incrémenter la valeur, il ne doit pas y avoir de doublons-->
					Les demandes les plus fréquentes chez les adolescents concernent en général : <br><br>
					<ul>
						<li><strong>La rhinoplastie</strong>
						</li><br>
						<li><strong>Les oreilles décollées</strong>
						</li><br>
						<li><strong>La chirurgie des seins</strong> (hypertrophie mammaire, augmentation mammaire ou malformations mammaires telles que les seins tubéreux)
						</li><br>
						<li><strong>La gynécomastie chez les garçons</strong>
						</li><br>
						<li><strong>La liposuccion</strong>
						</li><br>
					</ul><br>
					Le chirurgien plasticien doit s’efforcer de comprendre les réelles motivations de ces ados soucieux de leur image.  Le recours, dans certains cas, à un psychologue peut s’avérer nécessaire car certains adolescents souffrent plutôt d’une dysmorphophobie (trouble de l’image corporelle).<br>
					Pour certaines interventions (oreilles décollées, gynécomastie, malformations mammaires, hypertrophie mammaire..) une prise en charge partielle par l’Assurance Maladie sera éventuellement possible.<br>
					Enfin, n’oublions pas que si la finalité d’une telle intervention est bien l’amélioration de l’apparence et l’esthétique, il n’en demeure pas moins qu’il s’agit d’un acte de chirurgie comportant des risques dont il faudra bien avoir conscience.<br>
					L’accord parental du père et de la mère est indispensable pour un mineur.<br>
					Un complexe, une malformation pourront bénéficier d'une intervention de chirurgie plastique et transformer la vie de l'adolescent. N'hésitez pas à consulter pour avoir un avis spécialisé.<br><br>
				</div>
				<a class="content-link cursor" id="actualites-item-3"><!--incrémenter avec la mm valeur qu'au dessus-->> En savoir plus</a>
			<hr/>
			</div>
			</div>
			<!-- fin bloc à dupliquer pour ajouter une actualité ----------------------------------------------------->
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/actualites.js') }}" type="text/javascript"></script>
{% endblock %}