{# src/Perso/BlogBundle/Resources/views/Blog/poitrine.html.twig #}

{% extends "JackBenzakenCmsBundle::base_frontend.html.twig" %}

{% block body  %}
    <div class="bloc-container">
        <div class="interventions-top-content interventions-menu-3elem">
			<div class="interventions-title">LA POITRINE</div>
			<div class="interventions-menu">
				<ul style="list-style-type:none;">
					<li class="slide-section-link">
						<a class="slide-link"><img class="slide-pictos" src="{{ asset('img/picto-plus.png') }}"></a>
						<ul class="slide-subsection">
							<li class="slide-subsection-li"><a class="slide-subsection-link title" id="protheses">Les prothèses mammaires</a></li>
						</ul>
					</li>

					<li class="slide-section-link" style="margin-top:8px;">
						<a class="slide-link"><img class="slide-pictos" src="{{ asset('img/picto-moins.png') }}"></a>
						<ul class="slide-subsection" style="margin-top:68px;">
							<li class="slide-subsection-li"><a class="slide-subsection-link title" id="reduction">Les réductions mammaires</a></li>
						</ul>
					</li>
					
					<li class="slide-section-link" style="margin-top:8px;">
						<a class="slide-link"><img class="slide-pictos" src="{{ asset('img/picto-tick.png') }}"></a>
						<ul class="slide-subsection" style="margin-top:136px;">
							<li class="slide-subsection-li"><a class="slide-subsection-link title" id="ptoses">Les ptoses mammaires</a></li>
						</ul>
					</li>
				</ul>
			</div>
        </div>
        <div class="interventions-img"><img style="display:block; margin: 0 auto;" src="{{ asset('img/poitrine-femme.jpg') }}"></div>
        <div class="visage-bottom-content" id="protheses-content">
            <div class="interventions-bottomRight">
                <table><tr class="interventions-tr-first"><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-stetho.png') }}"></td><td>1 nuit d'hospitalisation</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-chrono.png') }}"></td><td>De 1 à 2h d'opération</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-moon.png') }}"></td><td>Anesthésie générale</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-arrow.png') }}"></td><td>Résultats sous 1 à 2 mois</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-price.png') }}"></td><td>Entre 4 500 € et 5 000 €</td></tr></table>
            </div>
            <div class="interventions-bottomLeft">
                <h2 class='visage-title visage-main-title'>Les prothèses mammaires</h2> visent à augmenter le volume des seins par pose d’implants devant le muscle ou derrière le muscle grand pectoral.<br>
				Trois méthodes d’introduction peuvent être envisagées dans l'augmentation mammaire:<br>
				- par une courte incision située sur la partie inférieure de l’aréole<br>
				- par une incision dans le sillon sous-mammaire<br>
				- par une incision dans la région axillaire<br>
				<br>
				Deux types de prothèses mammaires sont proposés:<br>
				- soit remplies de sérum physiologique<br>
				- soit de gel de silicone<br>
				Leurs formes sont rondes ou anatomiques avec des volumes plus ou moins importants selon le cas.<br>
				<br>
				<div class="interventions-video">
					<iframe src="//player.vimeo.com/video/108707034" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<br>
				<h2 class='visage-title'>La préparation à l'intervention</h2><br><br>
				<a class="content-link" id="visage-protheses-premConsult">La première consultation</a><br>
				<div class="interventions-slide-content" id="visage-protheses-premConsult-content">
					Pendant cette première consultation aura lieu :<br>
					1/ La prise de contact<br>
					Cette première prise de contact permet de préciser la demande du patient et de connaître ses antécédents médicaux et chirurgicaux. Elle a pour but d’informer des modalités de l’intervention en précisant ses risques et complications éventuelles.<br>
					Elle a pour but d’informer des modalités de l’intervention en précisant ses risques et complications éventuelles.<br>
					2/ L’examen clinique<br>
					L’examen clinique du sein avant opération est capital car l’intervention dépend de facteurs propres à chaque patient. Il permet d’évaluer:<br>
					- La taille et la forme des seins<br>
					- La position de l’aréole<br>
					- La tonicité du muscle pectoral<br>
					Cette consultation sera aussi l’occasion de faire des essayages de prothèses afin de déterminer le volume à utiliser.<br>
					3/ La remise des documents<br>
					A l’issue de la consultation un consentement est remis de même qu’un devis et d’une fiche d’information. Des photos pré-opératoires sont également prises.
				</div><br>
				<a class="content-link" id="visage-protheses-secConsult">La seconde consultation : le bilan pré-opératoire</a><br>
				<div class="interventions-slide-content" id="visage-protheses-secConsult-content">
					La seconde consultation a  lieu après une première phase de réflexion indispensable au patient et permet d’élaborer plus spécifiquement le projet chirurgical.<br>
					Un nouvel entretien a systématiquement lieu entre le patient et le chirurgien, afin de rappeler les modalités de l’opération et de s’assurer de la bonne compréhension de l’intervention.<br>
					Un bilan préopératoire est donc nécessaire avant l’intervention et une mammographie et /ou échographie mammaire sont souvent demandés. 
				</div>
				<br>
				<h2 class='visage-title'>L'intervention</h2><br><br>
				<a class="content-link" id="visage-protheses-anesth">L'anesthésie</a><br>
				<div class="interventions-slide-content" id="visage-protheses-anesth-content">
					L’intervention se déroule sous anesthésie générale pour le confort du patient.<br>
					Un rendez-vous avec l’anesthésiste est organisé plusieurs jours avant l’intervention.
				</div><br>
				<a class="content-link" id="visage-protheses-action">L'action chirurgicale</a><br>
				<div class="interventions-slide-content" id="visage-protheses-action-content">
					L’intervention de l'augmentation mammaire peut durer de 1 à 2 heures en fonction de la nécessité d’un geste complémentaire associé.<br>
					- Les incisions sont le plus souvent placées sur la partie inférieure de l’aréole.<br>
					- La loge, dans laquelle la prothèse est placée, peut se présenter devant ou derrière le muscle grand pectoral.<br>
					- Une fois la prothèse mise en place, des fils résorbables sont utilisés pour les sutures des plans profonds et de la peau.<br>
					Il est d’usage, afin que le sang soit éliminé, qu’un drain soit laissé le plus souvent en place dans chaque sein jusqu’au lendemain de l’intervention.<br>
					- Un soutien-gorge modelant est placé en fin d’intervention. 
				</div><br>
				<a class="content-link" id="visage-protheses-duree">La durée d'hospitalisation</a><br>
				<div class="interventions-slide-content" id="visage-protheses-duree-content">
					Une nuit post-opératoire est requise. La sortie a lieu le lendemain de l’intervention après l’ablation des drains.
				</div>
				<br>
				<h2 class='visage-title'>Les suites post-opératoires</h2><br><br>
				<a class="content-link" id="visage-protheses-suivi">Le suivi</a><br>
				<div class="interventions-slide-content" id="visage-protheses-suivi-content">
					Le lendemain de l’intervention, avant la sortie, les redons sont retirés et le pansement refait.<br>
					Une première consultation post opératoire a lieu à 10 jours pour l’ablation des fils puis à 1 mois.
				</div><br>
				<a class="content-link" id="visage-protheses-delais">Les délais</a><br>
				<div class="interventions-slide-content" id="visage-protheses-delais-content">
					L’oedème est normal et dure en moyenne 15 jours.<br>
					Les seins prennent leur forme définitive en 1 à 2 mois.
				</div>
            </div>
        </div>
		 <div class="visage-bottom-content" id="reduction-content">
			<div class="interventions-bottomRight">
                <table><tr class="interventions-tr-first"><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-stetho.png') }}"></td><td>1 nuit d'hospitalisation</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-chrono.png') }}"></td><td>2h d'opération</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-moon.png') }}"></td><td>Anesthésie générale</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-arrow.png') }}"></td><td>Résultats sous 2 à 3 mois</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-price.png') }}"></td><td>Entre 3 000 € et 5 500 €</td></tr></table>
            </div>
            <div class="interventions-bottomLeft">
                <h2 class='visage-title visage-main-title'>La réduction mammaire</h2> vise à réduire le volume des seins  dont le poids a une incidence principalement sur la colonne vertébrale (douleurs dorsales, cervicales, attitude voutée pour réduire l’importance de la poitrine, douleurs musculaires).<br>
				L’objectif de la réduction mammaire est de remonter l’aréole et le mamelon ainsi que d’enlever l’excédant de glande, de graisse et de peau afin d’obtenir un volume et une forme harmonieuse.<br>
				Un remodelage de la glande et une correction au niveau de l’aréole et du mamelon permet d’obtenir une harmonie du galbe du sein.<br>
				<br>
				<div class="interventions-video">
					<iframe src="//player.vimeo.com/video/108707033" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<br>
				<h2 class='visage-title'>La préparation à l'intervention</h2><br><br>
				<a class="content-link" id="visage-reduction-premConsult">La première consultation</a><br>
				<div class="interventions-slide-content" id="visage-reduction-premConsult-content">
					Pendant cette première consultation aura lieu :<br>
					1/ La prise de contact<br>
					Cette première prise de contact permet de préciser la demande du patient et de connaître ses antécédents médicaux et chirurgicaux. Elle a pour but d’informer des modalités de l’intervention en précisant ses risques et complications éventuelles.<br>
					2/ L’examen clinique<br>
					L’examen clinique permet de connaître l’aspect du sein, la qualité de la peau, la distance entre la clavicule et le mamelon.<br>
					Cette étape est capitale car l’intervention dépend de facteurs propres à chaque patient.<br>
					3/ La remise des documents<br>
					Pendant cette première consultation, des photos pré-opératoires sont prises.<br> 
					Les modalités opératoires sont expliquées, de même que les risques potentiels.<br>
					Un consentement opératoire éclairé ainsi qu’un devis et une fiche de renseignement détaillée sont remis au patient.<br>
					A noter qu’une prise en charge par l’Assurance maladie est possible si le volume à retirer est supérieur à 300 grammes par sein. Dans ce cas un complément d'honoraires sera demandé à hauteur de 3 000 € à 4 000 €. En l’absence de prise en charge :comptez entre 4500 € et 5500 €
				</div><br>
				<a class="content-link" id="visage-reduction-secConsult">La seconde consultation : le bilan pré-opératoire</a><br>
				<div class="interventions-slide-content" id="visage-reduction-secConsult-content">
					La deuxième consultation a  lieu après une première phase de réflexion indispensable au patient et permet d’élaborer plus spécifiquement le projet chirurgical.<br>
					Un nouvel entretien a donc systématiquement lieu entre le patient et le chirurgien, afin de rappeler les modalités de l’opération et de s’assurer de la bonne compréhension de l’intervention.<br>
					Un bilan préopératoire est également nécessaire avant l’intervention et une mammographie et /ou échographie mammaire est souvent demandée.<br>
					Une anesthésie générale classique est à prévoir pour l’intervention à venir. Il faut voir le médecin anesthésiste au plus tard 48 heures avant l’intervention.
				</div>
				<br>
				<h2 class='visage-title'>L'intervention</h2><br><br>
				<a class="content-link" id="visage-reduction-anesth">L'anesthésie</a><br>
				<div class="interventions-slide-content" id="visage-reduction-anesth-content">
					Un rendez-vous avec l’anesthésiste est organisé plusieurs jours avant l’intervention.<br>
					L’intervention pouvant durer quelques heures, elle a lieu sous anesthésie générale pour le confort du patient.
				</div><br>
				<a class="content-link" id="visage-reduction-action">L'action chirurgicale</a><br>
				<div class="interventions-slide-content" id="visage-reduction-action-content">
					La réduction mammaire peut durer entre 2 et 3 h.<br>
					Le geste consiste à desepidermiser la partie du sein que l’on souhaite retirer.<br>
					Puis on procède à la resection de la glande mammaire en excés.<br>
					L’areole est mise à sa place définitive puis on procède aux sutures cutanées.<br>
					Il est d’usage, afin que le sang soit éliminé, qu’un drain (redon) soit le plus souvent laissé en place dans chaque sein jusqu’au lendemain de l’intervention.<br>
					Un soutien gorge de contention est mis en place à l’issue de l’intervention
				</div><br>
				<a class="content-link" id="visage-reduction-duree">La durée d'hospitalisation</a><br>
				<div class="interventions-slide-content" id="visage-reduction-duree-content">
					Elle est de 2 jours environ.
				</div>
				<br>
				<h2 class='visage-title'>Les suites pos-opératoires</h2><br><br>
				<a class="content-link" id="visage-lifting-suivi">Le suivi</a><br>
				<div class="interventions-slide-content" id="visage-lifting-suivi-content">
					Ce type de chirurgie esthétique est généralement peu douloureux, une journée d’hospitalisation est généralement suffisante.<br>
					La sortie a donc souvent lieu lendemain après l’ablation des redons et le changement de pansement.<br>
					Les fils seront retirés 10 jours  après l’opération.
				</div><br>
				
				<a class="content-link" id="visage-reduction-delais">Les délais</a><br>
				<div class="interventions-slide-content" id="visage-reduction-delais-content">
					Le sein prendra sa forme définitive en 2 à 3 mois.
				</div>
            </div>
        </div>
		<div class="visage-bottom-content" id="ptoses-content">
            <div class="interventions-bottomRight">
                <table><tr class="interventions-tr-first"><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-stetho.png') }}"></td><td>1 nuit d'hospitalisation</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-chrono.png') }}"></td><td>2h30 d'opération</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-moon.png') }}"></td><td>Anesthésie générale</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-arrow.png') }}"></td><td>Résultats sous 2 à 3 mois</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-price.png') }}"></td><td>Entre 4 000 € et 5 000 €</td></tr></table>
            </div>
            <div class="interventions-bottomLeft">
                <h2 class='visage-title visage-main-title'>Une ptose mammaire</h2> est une chute et/ou une desharmonisation du sein. Opérer des ptoses mammaires vise à remodeler un sein ayant subi une modification d’aspect et de volume à la suite de grossesses ou d’amaigrissement important en lui redonnant un volume et une forme harmonieuse, en remontant l’aréole, le mamelon et en enlevant l’excédant de peau.<br>
				Parfois la pause d’implants mammaires peut être mise en place pour restaurer le volume.<br>
				<br>
				<h2 class='visage-title'>La préparation à l'intervention</h2><br><br>
				<a class="content-link" id="visage-ptoses-premConsult">La première consultation</a><br>
				<div class="interventions-slide-content" id="visage-ptoses-premConsult-content">
					Pendant cette première consultation aura lieu :<br>
					1/ La prise de contact<br>
					Cette première prise de contact permet de préciser la demande du patient et de connaître ses antécédents médicaux chirurgicaux. Elle a pour but d’informer des modalités de l’intervention en précisant ses risques et complications éventuelles.<br>
					2/ L’examen clinique<br>
					L’examen clinique du sein avant opération est capital car l’intervention dépend de facteurs propres à chaque patient. Il permet d’évaluer:<br>
					- La taille et la forme du sein<br>
					- La position de l’aréole<br>
					- La tonicité du muscle pectoral<br>
					Cette consultation sera aussi l’occasion de faire des essayages de prothèses afin de déterminer le volume à utiliser.<br>
					3/ La remise des documents<br>
					Pendant cette première consultation, des photos pré-opératoires sont prises.<br>
					Les modalités opératoires sont expliquées, de même que les risques potentiels.<br>
					Un consentement opératoire ainsi qu’un devis détaillé et une fiche d’information sont remis au patient.
				</div><br>
				<a class="content-link" id="visage-ptoses-secConsult">La seconde consultation : le bilan pré-opératoire</a><br>
				<div class="interventions-slide-content" id="visage-ptoses-secConsult-content">
					La deuxième consultation a  lieu après une première phase de réflexion indispensable au patient et permet d’élaborer plus spécifiquement le projet chirurgical.<br>
					Un nouvel entretien a donc systématiquement lieu entre le patient et le chirurgien, afin de rappeler les modalités de l’opération et de s’assurer de la bonne compréhension de l’intervention.<br>
					Un bilan préopératoire est aussi nécessaire avant l’intervention et une mammographie et /ou échographie mammaire est souvent demandée.<br>
					Une anesthésie générale classique est à prévoir pour l’intervention à venir. Il faut voir le médecin anesthésiste au plus tard 48 heures avant l’intervention.
				</div>
				<br>
				<h2 class='visage-title'>L'intervention</h2><br><br>
				<a class="content-link" id="visage-ptoses-anesth">L'anesthésie</a><br>
				<div class="interventions-slide-content" id="visage-ptoses-anesth-content">
					Un rendez-vous avec l’anesthésiste est organisé plusieurs jours avant l’intervention.<br> 
					L’intervention dure entre 2 h et 2h30 et a lieu sous anesthésie générale pour le confort du patient.
				</div><br>
				<a class="content-link" id="visage-ptoses-action">L'action chirurgicale</a><br>
				<div class="interventions-slide-content" id="visage-ptoses-action-content">
					En général, une incision en forme de T inversé est pratiquée c’est-à-dire une incision autour de l’oréole, une verticale et une dans le sillon sous le sein.<br>
					Il est d’usage, afin que le sang soit éliminé, qu’un drain (redon) soit laissé le plus souvent en place dans chaque sein jusqu’au lendemain de l’intervention.
				</div><br>
				<a class="content-link" id="visage-ptoses-duree">La durée d'hospitalisation</a><br>
				<div class="interventions-slide-content" id="visage-ptoses-duree-content">
					Ce type de chirurgie esthétique est généralement peu douloureux, une journée d’hospitalisation est généralement suffisante après l'intervention pour ptose mammaire.
				</div>
				<br>
				<h2 class='visage-title'>Les suites post-opératoires</h2><br><br>
				<a class="content-link" id="visage-ptoses-suivi">Le suivi</a><br>
				<div class="interventions-slide-content" id="visage-ptoses-suivi-content">
					Plusieurs consultations de suivi sont assurées<br>
					Après 24 à 48 heures, le premier pansement est retiré et remplacé par un soutien-gorge assurant une bonne contention (type soutien-gorge utilisé pour le sport).<br>
					Les fils seront retirés 2 à 3 semaines après l’opération.<br>
					Une visite de contrôle est prévue à 1 mois et 1 an.
				</div><br>
				<a class="content-link" id="visage-rhinoplastie-delais">Les délais</a><br>
				<div class="interventions-slide-content" id="visage-rhinoplastie-delais-content">
					Il convient d’envisager une convalescence d’une semaine et il est déconseillé de pratiquer des activités sportives avant la cicatrisation totale, soit environ un mois après l’intervention des ptoses mammaires.<br>
					Les ecchymoses s’estomperont dans un délai de 1 à 2 semaines.<br>
					Le résultat est appréciable rapidement mais le résultat définitif ne pourra l’être qu’après un délai de deux à trois mois. Ce temps est nécessaire à l’assouplissement des seins.<br>
					L’aspect du sein pourra évoluer dans le temps en fonction des modifications hormonales et des variations de poids.<br>
					L’altération de la sensibilité du mamelon est presque systématique et récupère progressivement en quelques mois.<br>
					<br>
					Le cas d’une nécrose est également un risque possible. C’est la perte d’une zone cutanée plus ou moins étendue qui peut altérer le résultat esthétique (perte de peau, perte du mamelon).<br>
					Elle est favorisée par la prise de tabac. C’est pourquoi l’arrêt du tabac est vivement conseillé au moins trois semaines avant et après la chirurgie esthétique.<br>
					En cas de nécrose, un geste complémentaire à distance (un an), peut s’avérer nécessaire.
				</div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/interventions.js') }}" type="text/javascript"></script>
{% endblock %}