{# src/Perso/BlogBundle/Resources/views/Blog/rides.html.twig #}

{% extends "JackBenzakenCmsBundle::base_frontend.html.twig" %}

{% block body  %}
    <div class="bloc-container">
        <div class="interventions-top-content interventions-menu-2elem">
			<div class="interventions-title">LE TRAITEMENT DES RIDES</div>
			<div class="interventions-menu">
				<ul style="list-style-type:none;">
					<li class="slide-section-link">
						<a class="slide-link"><img class="slide-pictos" src="{{ asset('img/picto-rides-hyaluronique.png') }}"></a>
						<ul class="slide-subsection">
							<li class="slide-subsection-li"><a class="slide-subsection-link title" id="hyaluronique">L'acide hyaluronique</a></li>
						</ul>
					</li>

					<li class="slide-section-link" style="margin-top:8px;">
						<a class="slide-link"><img class="slide-pictos" src="{{ asset('img/picto-rides-botox.png') }}"></a>
						<ul class="slide-subsection" style="margin-top:68px;">
							<li class="slide-subsection-li"><a class="slide-subsection-link title" id="botox">Le botox</a></li>
						</ul>
					</li>
				</ul>
			</div>
        </div>
        <div class="interventions-img"><img style="display:block; margin: 0 auto;" src="{{ asset('img/rides-femme.jpg') }}"></div>
        <div class="visage-bottom-content" id="hyaluronique-content">
            <div class="interventions-bottomRight">
                <table><tr class="interventions-tr-first"><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-stetho.png') }}"></td><td>Ambulatoire</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-chrono.png') }}"></td><td>1-2h d'opération</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-moon.png') }}"></td><td>Anesthésie locale</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-arrow.png') }}"></td><td>Résultats sous 15 jours</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-price.png') }}"></td><td>Entre 1 500 € et 3 000 €</td></tr></table>
            </div>
            <div class="interventions-bottomLeft">
                <h2 class='visage-title visage-main-title'>L'acide hyaluronique</h2> est utilisé comme implant de comblement parfaitement toléré et résorbable, dans le traitement des rides du visage et du cou. Aucun test n'est nécessaire, ce n'est pas une substance allergisante. Divers produits sont proposés aujourd'hui à des concentrations variables et permettent aussi bien le remodelage des volumes du visage que le lissage des rides fines.
				<br><br>
				<h2 class='visage-title'>Méthode d'injection</h2><br>
				<!--<a class="content-link" id="visage-hyaluronique-premConsult">Méthode d'injection</a><br>-->
				<div class="interventions-slide-content" id="rides-hyaluronique-premConsult-content">
					L'injection se fait à l’aiguille très fine ou à la micro canule permettant l'effacement immédiat des rides, sillons et dépressions, sans sur-correction. Une séance complémentaire peut être nécessaire au bout de 3 à 4 semaines.
				</div>
				<br>
				<h2 class='visage-title'>Inconvénients, complications</h2><br>
				<!--<a class="content-link" id="visage-blepharoplastie-anesth">L'anesthésie</a><br>-->
				<div class="interventions-slide-content" id="rides-hyaluronique-anesth-content">
					De petites rougeurs et gonflements peuvent se voir et persister de quelques heures à quelques jours après l'injection. L'acide hyaluronique se résorbe plus ou moins vite et nécessite des séances régulières mais sécurisantes et de plus en plus espacées.
					<br/>Il est bon de renouveler l'l'injection de comblement tous les six à dix mois, parfois moins dans les premières séances. 
				</div>
            </div>
        </div>
		<div class="visage-bottom-content" id="botox-content">
            <div class="interventions-bottomRight">
                <table><tr class="interventions-tr-first"><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-stetho.png') }}"></td><td>Ambulatoire</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-chrono.png') }}"></td><td>1-2h d'opération</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-moon.png') }}"></td><td>Anesthésie locale</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-arrow.png') }}"></td><td>Résultats sous 15 jours</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-price.png') }}"></td><td>Entre 1 500 € et 3 000 €</td></tr></table>
            </div>
            <div class="interventions-bottomLeft">                
				<h2 class='visage-title visage-main-title'>La toxine botulique</h2> (Botox°, Dysport°, Azzalure, Vistabel°...) traite les rides d'expression du visage en diminuant l’action des muscles qui les créent. Elle ne remplit pas des rides comme les injections de comblement mais détend les zones traitées.<br>
				La toxine botulique ne tend pas, elle détend la peau<br>
				Au niveau du front, la seule solution pour relâcher le muscle frontal était jusqu’alors sa section chirurgicale lors des liftings ou par endoscopie. En médecine esthétique, la toxine botulique, injectée directement dans ces muscles donne le même résultat, tout en conservant une mobilité suffisante pour satisfaire à l’expressivité du visage. Même si on a l'impression d'une peau tendue, c'est la décontraction du muscle peaucier qui fait disparaître les rides.
				<br><br>
				<h2 class='visage-title'>Le produit: endotoxine botulinique</h2><br>
				<!--<a class="content-link" id="visage-hyaluronique-premConsult">Méthode d'injection</a><br>-->
				<div class="interventions-slide-content" id="rides-hyaluronique-premConsult-content">
					C'est un médicament utilisé depuis longtemps (Botox°, Dysport°) pour traiter les spasmes des paupières, du visage ou du cou. En comparaison, les doses de toxine botulique utilisées en médecine esthétique contre les rides et ridules sont très faibles.
				</div>
				<br>
				<h2 class='visage-title'>Technique des injections de toxine botulique</h2><br>
				<!--<a class="content-link" id="visage-blepharoplastie-anesth">L'anesthésie</a><br>-->
				<div class="interventions-slide-content" id="rides-hyaluronique-anesth-content">
					Il s'agit de quelques minuscules injections à quelques millimètres de profondeur, réparties sur les muscles peauciers du front ou inter-sourciliers et aussi sur les muscles créant les rides de la patte d’oie. Il est aussi possible de relever la queue du sourcil si celui-ci est attiré vers le bas.  Les aiguilles sont très fines et l''injection est quasiment indolore.
				</div>
				<br>
				<h2 class='visage-title'>Inconvénients et risques du botox</h2><br>
				<!--<a class="content-link" id="visage-blepharoplastie-anesth">L'anesthésie</a><br>-->
				<div class="interventions-slide-content" id="rides-hyaluronique-anesth-content">
					(Avis : Botox° est une marque de toxine botulique  pour usage neurologique qui a été employé largement au début. Botox est un terme souvent utilisé par abus de langage.)  De petites ecchymoses peuvent apparaître mais rarement. Dans la semaine qui suit, il est possible de sentir des tiraillements du front ou sensation de tension. La mobilité est diminuée mais pas figée si les doses sont légères. Il a été décrit quelques réactions transitoires à type de céphalées. Mal injectée par un praticien non formé, la toxine botulique peut alors paralyser transitoirement des muscles non souhaités dans le visage (paupière tombante, gêne au sourire, sourcils trop hauts ou trop bas...).
				</div>
				<br>
				<h2 class='visage-title'>Résultats et entretien</h2><br>
				<!--<a class="content-link" id="visage-blepharoplastie-anesth">L'anesthésie</a><br>-->
				<div class="interventions-slide-content" id="rides-hyaluronique-anesth-content">
					Au bout de 4 à 6 jours, les effets de la toxine apparaissent,ils seront complets au 15ème jour: lissage  spontané de la moitié supérieure du visage. Le front est lisse, perd son caractère sévère et triste. Les plis des pattes d’oie sont très diminués.
					<br>
					Les séances sont  à renouveler tous les 4 à 6 mois les premières fois. 				</div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/interventions.js') }}" type="text/javascript"></script>
{% endblock %}