{# src/Perso/BlogBundle/Resources/views/Blog/silhouette.html.twig #}

{% extends "JackBenzakenCmsBundle::base_frontend.html.twig" %}

{% block body  %}
    <div class="bloc-container">
        <div id="visage-top-content">
			<div class="interventions-title">LA SILHOUETTE</div>
			<div class="interventions-menu">
				<ul style="list-style-type:none;">
					<li class="slide-section-link">
						<a class="slide-link"><!--<img class="slide-pictos" src="{{ asset('img/picto-visage-eye.png') }}">-->1</a>
						<ul class="slide-subsection">
							<li class="slide-subsection-li"><a class="slide-subsection-link title" id="lipoaspiration">La lipoaspiration</a></li>
						</ul>
					</li>

					<li class="slide-section-link" style="margin-top:8px;">
						<a class="slide-link"><!--<img class="slide-pictos" src="{{ asset('img/picto-visage-nez.png') }}">-->2</a>
						<ul class="slide-subsection" style="margin-top:68px;">
							<li class="slide-subsection-li"><a class="slide-subsection-link title" id="abdominoplastie">L'abdominoplastie</a></li>
						</ul>
					</li>
				</ul>
			</div>
        </div>
        <div class="interventions-img"><img style="display:block; margin: 0 auto;" src="{{ asset('img/silhouette-femme.jpg') }}"></div>
        <div class="visage-bottom-content" id="lipoaspiration-content">
            <div class="interventions-bottomRight">
                <table><tr class="interventions-tr-first"><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-stetho.png') }}"></td><td>Hospitalisation ambulatoire</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-chrono.png') }}"></td><td>de 30 min à 3h d'opération</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-moon.png') }}"></td><td>?</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-arrow.png') }}"></td><td>?</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-price.png') }}"></td><td>Entre 2 000€ et 4 000€</td></tr></table>
            </div>
            <div class="interventions-bottomLeft">
                <h2 class='visage-title'>La lipoaspiration</h2>, aussi connue sous le nom de liposuccion, est une technique chirurgicale qui consiste à extraire les dépôts graisseux, disgracieux et non désirés, localisés en des régions circonscrites du corps.<br>
 				<br>
				Chez la femme, cet excèdent graisseux est surtout localisé au niveau de l’abdomen, des hanches, des cuisses et des genoux alors que chez l’homme il est  surtout localisé au niveau de l’abdomen.<br>
				Il est important de comprendre que la lipo-aspiration n’est pas une alternative à une cure d’amaigrissement.<br>
				Elle vise plutôt à améliorer la silhouette et à affiner les formes.<br>
				<br>
				Le pouvoir de rétractation de la peau après lipo-aspiration étant variable d’une personne à l’autre, il est parfois nécessaire de limiter la quantité de tissus graisseux à extraire (pour éviter un surplus de peau important).<br>
				La lipo-aspiration est réalisée à l’aide de canules fines où l’orifice d’entrée est inférieur à 5 mm autant dire invisible après cicatrisation.<br>
				Pour une même zone, plusieurs incisions seront nécessaires.<br>
				<br>
				<h2 class='visage-title'>La préparation à l'intervention</h2><br>
				<a class="content-link" id="visage-lipoaspiration-premConsult">La première consultation</a><br>
				<div class="interventions-slide-content" id="visage-lipoaspiration-premConsult-content">
					Pendant cette première consultation aura lieu :<br>
					<br>
					1/ La prise de contact<br>
					Cette première prise de contact permet de préciser la demande du patient et de connaître ses antécédents médicaux et chirurgicaux. Elle a pour but d’informer des modalités de l’intervention en précisant ses risques et complications éventuelles.<br>					Elle a pour but d’informer des modalités de l’intervention en précisant ses risques et complications éventuelles.<br>
					<br>
					2/ L’examen clinique<br>
					Elle permet de préciser les antécédents médicaux ou chirurgicaux, les éventuelles allergies, les facteurs de risque(tabac,pillule, ..).<br>
					L’examen clinique permet déterminer l’état de la peau, l’existence de vergetures, de  cellulite.<br>
					Il apprécie l’état veineux	.<br>
					Cette consultation permet d’informer la patiente si les zones désignées sont accessibles à la liposuccion.<br>
					<br>
					3/ La remise des documents<br>
					A l’issue de la consultation un consentement est remis de même qu’un devis et d’une fiche d’information. Des photos pré-opératoires sont également prises.
				</div>
				<a class="content-link" id="visage-lipoaspiration-secConsult">La seconde consultation : le bilan pré-opératoire</a><br>
				<div class="interventions-slide-content" id="visage-lipoaspiration-secConsult-content">
					La seconde consultation a  lieu après une première phase de réflexion indispensable au patient et permet d’élaborer plus spécifiquement le projet chirurgical.<br>
					Un nouvel entretien a systématiquement lieu entre le patient et le chirurgien, afin de rappeler les modalités de l’opération et de s’assurer de la bonne compréhension de l’intervention.<br>
					Un bilan pré-opératoire est donc nécessaire avant l’intervention. 
				</div>
				<br>
				<h2 class='visage-title'>L'intervention</h2><br>
				<a class="content-link" id="visage-lipoaspiration-anesth">L'anesthésie</a><br>
				<div class="interventions-slide-content" id="visage-lipoaspiration-anesth-content">
					Une anesthésie locale potentialisée est le plus souvent pratiquée, l’anesthésie générale ne sera nécessaire dès lors qu’il y aura plus de 2 sites d’intervention et imposera une consultation anesthésique au plus tard 48 heures avant l’opération.
				</div>
				<a class="content-link" id="visage-lipoaspiration-action">L'action chirurgicale</a><br>
				<div class="interventions-slide-content" id="visage-lipoaspiration-action-content">
					Aucun médicament à base d’aspirine n’est à prendre dans les 10 jours précédant l’intervention.<br>
					La durée de la lipoaspiration est de 30 mn à 3 heures en fonction du nombre de sites opératoires.<br>
					Aucun drainage n’est nécessaire.<br>
					Les fils seront le plus souvent résorbables.<br>
					Une gaine est mise en place au bloc opératoire en fin d’intervention.
				</div>
				<a class="content-link" id="visage-lipoaspiration-duree">La durée d'hospitalisation</a><br>
				<div class="interventions-slide-content" id="visage-lipoaspiration-duree-content">
					Cette chirurgie esthétique se pratique en ambulatoire (sortie le jour-même) mais il arrive qu’une hospitalisation de 24 heures soit recommandée et la décision sera prise par le chirurgien en fonction du type d’intervention.
				</div>
				<br>
				<h2 class='visage-title'>Les suites post-opératoires</h2><br>
				<a class="content-link" id="visage-lipoaspiration-suivi">Le suivi</a><br>
				<div class="interventions-slide-content" id="visage-lipoaspiration-suivi-content">
					Ce type de chirurgie esthétique est généralement peu douloureux. Les ecchymoses s’estompent  dans un délai de une à deux semaines. Une gaine devra être portée jour et nuit pendant un mois.<br>
					Il convient d’envisager une convalescence d’une semaine et une contre-indication d’activité sportive pendant un mois après l’acte de chirurgie esthétique.<br>
					Après l’ablation de cette gaine ou panty il est vivement conseillé de bénéficier de séances de drainage lymphatique(endermologie).<br>
					A la suite de toute chirurgie esthétique, quelle qu’elle soit, il peut survenir certaines complications, les unes inhérentes à l’acte médical et/ou anesthésique, les autres spécifiques à la lipo-aspiration.<br>
					Les bonnes pratiques de sécurité limitent les risques graves mais ne les suppriment pas.<br>
					Certains risques, heureusement exceptionnels, peuvent être imprévisibles et mettre en jeu le pronostic vital ou fonctionnel (embolie, paralysie, septicémie ...).<br>
					L’anesthésie comporte ses propres complications qui vous seront expliquées lors de l’entretien avec le médecin anesthésiste.
				</div>
				<a class="content-link" id="visage-lipoaspiration-delais">Les délais</a><br>
				<div class="interventions-slide-content" id="visage-lipoaspiration-delais-content">
					Le résultat est appréciable rapidement après un délai de 2 à 3 mois. Ce temps est nécessaire pour l’assouplissement de la peau. Le résultat définitif ne pourra l’être qu’après un délai d’un an.<br>
					L’aspect peut évoluer dans le temps en fonction des variations de poids.
				</div>
            </div>
        </div>
        <div class="visage-bottom-content" id="abdominoplastie-content">
            <div class="interventions-bottomRight">
                <table><tr class="interventions-tr-first"><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-stetho.png') }}"></td><td>?</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-chrono.png') }}"></td><td>1-2h d'opération</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-moon.png') }}"></td><td>?</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-arrow.png') }}"></td><td>?</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-price.png') }}"></td><td>?</td></tr></table>
            </div>
            <div class="interventions-bottomLeft">
                <h2 class='visage-title'>L'abdominoplastie</h2> est une chirurgie esthétique qui vise à réduire la peau et la graisse de la paroi abdominale abîmée et si nécessaire, pratiquer une lipoaspiration de la graisse en excès et remettre en tension les muscles distendus.<br>
Plusieurs causes sont à l’origine de cette distension, mais les plus fréquentes sont dues à des grossesses répétées entraînant souvent des vergetures et des relâchements de la paroi abdominale et/ou des régimes répétitifs avec reprises de poids intermittentes.<br>
				<br>
				<h2 class='visage-title'>La préparation à l'intervention</h2><br>
				<a class="content-link" id="visage-abdominoplastie-premConsult">La première consultation</a><br>
				<div class="interventions-slide-content" id="visage-abdominoplastie-premConsult-content">
					Pendant cette première consultation aura lieu :<br>
					<br>
					1/ La prise de contact<br>
					Cette première prise de contact permet de préciser la demande du patient et de connaître ses antécédents médicaux chirurgicaux. Elle a pour but d’informer des modalités de l’intervention en précisant ses risques et complications éventuelles.<br>
					<br>
					2/ L’examen clinique<br>
					Il permet d’apprécier plusieurs paramètres :<br>
					- L’importance de la surcharge graisseuse<br>
					- L’état de la peau<br>
					- L’état des muscles abdominaux<br>
					- La morphologie de la patiente<br>
					Elle établit les antécédents médicaux chirurgicaux de la patiente et les éventuels facteurs de risque (tabac, antécédents de phlébite,..).<br>
					L’intervention est expliquée ainsi que ses suites  et ses risques possibles.
					<br>
					3/ La remise des documents<br>
					Pendant cette première consultation, des photos pré-opératoires sont prises.<br>
					Les modalités opératoires sont expliquées, de même que les risques potentiels.<br>
					Un consentement opératoire ainsi qu’un devis détaillé et une fiche d’information sont remis au patient.
				</div>
				<a class="content-link" id="visage-abdominoplastie-secConsult">La seconde consultation : le bilan pré-opératoire</a><br>
				<div class="interventions-slide-content" id="visage-abdominoplastie-secConsult-content">
					Un bilan pré-opératoire est nécessaire avant toute chirurgie esthétique avec parfois une échographie abdominale.
				</div>
				<br>
				<h2 class='visage-title'>L'intervention</h2><br>
				<a class="content-link" id="visage-abdominoplastie-anesth">L'anesthésie</a><br>
				<div class="interventions-slide-content" id="visage-abdominoplastie-anesth-content">
					Une anesthésie générale classique est le plus souvent pratiquée. Il faut voir le médecin anesthésiste au plus tard 48 heures avant l’intervention.<br> 
				</div>
				<a class="content-link" id="visage-abdominoplastie-action">L'action chirurgicale</a><br>
				<div class="interventions-slide-content" id="visage-abdominoplastie-action-content">
					L’abdominoplastie peut durer de une à deux heures en fonction de la nécessité d’un geste complémentaire associé.<br>
					La cicatrice est généralement située au-dessus des poils pubiens et peut parfois, selon l’importance du geste, déborder jusqu’aux flancs.<br>
					Il peut exister une cicatrice autour de l’ombilic en cas de repositionnement de celui-ci.<br>
					La liposuccion de la graisse en excès est parfois nécessaire.<br>
					La remise en tension des muscles distendus est souvent  nécessaire.<br>
					<br>
					Un pansement modelant est confectionné en fin d’intervention et il est recouvert par une gaine à conserver un mois jour et nuit.
				</div>
				<a class="content-link" id="visage-abdominoplastie-duree">La durée d'hospitalisation</a><br>
				<div class="interventions-slide-content" id="visage-abdominoplastie-duree-content">
					Une à deux journées d’hospitalisation sont généralement suffisantes après l'intervention.
				</div>
				<br>
				<h2 class='visage-title'>Les suites post-opératoires</h2><br>
				<a class="content-link" id="visage-abdominoplastie-suivi">Le suivi</a><br>
				<div class="interventions-slide-content" id="visage-abdominoplastie-suivi-content">
					Il est d’usage, afin que le sang ou les secrétions qui peuvent se collecter soient éliminés, qu’un drain (redon) soit le plus souvent laissé en placé.<br>
					Celui-ci est retiré le lendemain ou le surlendemain.<br>
					Ce type d’intervention est parfois douloureux. Un protocole anticoagulant et antalgique est souvent prescrit par l’anesthésiste.<br>
					Après 24 heures, le premier pansement est refait.<br>
					La sortie se fait au deuxième jour.<br>
					Les pansements suivants seront fait à domicile par une infirmière.<br>
					Les ecchymoses s’estomperont dans un délai de une à deux semaines.<br>
					 <br>
					Il convient d’envisager une convalescence de deux à trois semaines et il est déconseillé de pratiquer des activités sportives avant la cicatrisation totale, soit environ un mois après l’abdominoplastie. (en cas de réparation musculaire, il est préférable d’attendre trois mois).<br>
					Une rééducation peut être proposée .Elle a pour but de réduire l’œdème post opératoire.
				</div>
				<a class="content-link" id="visage-abdominoplastie-delais">Les délais</a><br>
				<div class="interventions-slide-content" id="visage-abdominplastie-delais-content">
					Le résultat est appréciable rapidement et le résultat définitif ne pourra être apprécié qu’au bout d’un an post-opératoire, temps permettant l’atténuation de la cicatrice. Toutefois, la silhouette sera définie au bout de 6 mois.<br>
					A la suite d’une opération, quelle qu’elle soit, il peut survenir certaines complications, les unes inhérentes à l’acte médical et/ou anesthésique, les autres spécifiques à l’abdominoplastie.<br>
					Même si les suites opératoires sont le plus souvent simples, les complications éventuelles liées à l’abdominoplastie sont à connaître.<br>
					Une évolution défavorable des cicatrices : il est normal que la cicatrice s’épaississe et rougisse les premiers mois.<br>
					<br>
					Les accidents thrombo-emboliques (phlébite, embolie pulmonaire) sont très rares grâce aux mesures préventives rigoureusement respectées (ex. port de bas de contention, traitements anti-coagulants, et lever rapide).<br>
					Un écoulement de lymphe : il n’est pas rare d’observer au 8eme jour post-opératoire un épanchement lié a un écoulement de lymphe.<br>
					Un tel épanchement peut être parfois ponctionné.
				</div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/interventions.js') }}" type="text/javascript"></script>
{% endblock %}