{# src/Perso/BlogBundle/Resources/views/Blog/visage.html.twig #}

{% extends "JackBenzakenCmsBundle::base_frontend.html.twig" %}

{% block body  %}
    <div class="bloc-container">
        <div class="interventions-top-content">
			<div class="interventions-title">LE VISAGE</div>
			<div class="interventions-menu">
				<ul style="list-style-type:none;">
					<li class="slide-section-link">
						<a class="slide-link"><img class="slide-pictos" src="{{ asset('img/picto-visage-eye.png') }}"></a>
						<ul class="slide-subsection">
							<li class="slide-subsection-li"><a class="slide-subsection-link title" id="blepharoplastie">La blépharoplastie</a></li>
						</ul>
					</li>

					<li class="slide-section-link" style="margin-top:8px;">
						<a class="slide-link"><img class="slide-pictos" src="{{ asset('img/picto-visage-nez.png') }}"></a>
						<ul class="slide-subsection" style="margin-top:68px;">
							<li class="slide-subsection-li"><a class="slide-subsection-link title" id="rhinoplastie">La rhinoplastie</a></li>
						</ul>
					</li>

					<li class="slide-section-link" style="margin-top:8px;">
						<a class="slide-link"><img class="slide-pictos" src="{{ asset('img/picto-femme-visage-face.png') }}"></a>
						<ul class="slide-subsection" style="margin-top:136px;">
							<li class="slide-subsection-li"><a class="slide-subsection-link title" id="lifting">Le lifting cervico-facial</a></li>
						</ul>
					</li>

					<li class="slide-section-link" style="margin-top:8px;">
						<a class="slide-link"><img class="slide-pictos" src="{{ asset('img/picto-visage-ears.png') }}"></a>
						<ul class="slide-subsection" style="margin-top:204px;">
							<li class="slide-subsection-li"><a class="slide-subsection-link title" id="oreilles">Les oreilles décollées</a></li>
						</ul>
					</li>
				</ul>
			</div>
        </div>
        <div class="interventions-img"><img style="display:block; margin: 0 auto;" src="{{ asset('img/visage-femme.jpg') }}"></div>
        <div class="visage-bottom-content" id="blepharoplastie-content">
            <div class="interventions-bottomRight">
                <table><tr class="interventions-tr-first"><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-stetho.png') }}"></td><td>Ambulatoire</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-chrono.png') }}"></td><td>1-2h d'opération</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-moon.png') }}"></td><td>Anesthésie locale</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-arrow.png') }}"></td><td>Résultats sous 15 jours</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-price.png') }}"></td><td>Entre 1 500 € et 3 000 €</td></tr></table>
            </div>
            <div class="interventions-bottomLeft">
                <h2 class='visage-title visage-main-title'>La blépharoplastie, ou chirurgie des paupières</h2> a pour but:<br>
				- Au niveau de la paupière supérieure: de supprimer l’excès cutané et de corriger l’aspect de paupière tombante en redonnant ainsi au regard un nouvel éclat<br>
				-  Au niveau de la paupière inferieure: de corriger les poches graisseuses et à un moindre degré de réduire l’excès cutané<br>
				Suivant la demande et de la nature des anomalies constatées, le patient aura le choix de corriger soit seulement les paupières supérieures, soit les paupières supérieures et inférieures.<br>
				<br>
				<div class="interventions-video">
					<iframe src="//player.vimeo.com/video/108706655" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<br>
				<h2 class='visage-title'>La préparation à l'intervention</h2><br><br>
				<a class="content-link" id="visage-blepharoplastie-premConsult">La première consultation</a><br>
				<div class="interventions-slide-content" id="visage-blepharoplastie-premConsult-content">
					Pendant cette première consultation aura lieu :<br>
					1/ La prise de contact<br>
					Cette première prise de contact permet de préciser la demande du patient et de connaître ses antécédents médicaux et chirurgicaux.<br>
					Elle a pour but d’informer des modalités de l’intervention en précisant ses risques et complications éventuelles.<br>
					2/ L’examen clinique<br>
					L’examen clinique des paupières avant opération est capital car l’intervention dépend de facteurs propres à chaque patient. Il permet d’évaluer:<br>
					- La qualité, l’élasticité et l’épaisseur de la peau<br>
					- La présence de poches graisseuses<br>
					- Les contre indications ophtalmologiques à cette intervention (hypertension oculaire, œil sec)<br>
					3/ La remise des documents<br>
					Pendant cette première consultation, des photos pré-opératoires sont prises.<br>
					Les modalités opératoires sont expliquées, de même que les risques potentiels.<br>
					Un consentement opératoire ainsi qu’un devis détaillé et une fiche d’information sont remis au patient.<br>
					En cas de chute importante de la paupière supérieure responsable d’une gène visuelle ,une prise en charge par la sécurité est possible.
				</div><br>
				<a class="content-link" id="visage-blepharoplastie-secConsult">La seconde consultation : le bilan pré-opératoire</a><br>
				<div class="interventions-slide-content" id="visage-blepharoplastie-secConsult-content">
				La seconde consultation a  lieu après une première phase de réflexion indispensable au patient et permet d’élaborer plus spécifiquement le projet chirurgical.<br>
				Un nouvel entretien a systématiquement lieu entre le patient et le chirurgien, afin de rappeler les modalités de l’opération et de s’assurer de la bonne compréhension de l’intervention.<br>
				Un examen ophtalmologique est parfois demandé.
				</div>
				<br>
				<h2 class='visage-title'>L'intervention</h2><br><br>
				<a class="content-link" id="visage-blepharoplastie-anesth">L'anesthésie</a><br>
				<div class="interventions-slide-content" id="visage-blepharoplastie-anesth-content">
					L’intervention se déroule sous anesthésie locale pour la paupière supérieure. Une consultation avec l’anesthésiste est nécessaire quelques jours avant l’intervention.<br>
					Pour les quatre paupières on pourra avoir recours à une neurolept-analgésie (anesthésie locale renforcée),voire à une anesthésie générale
				</div><br>
				<a class="content-link" id="visage-blepharoplastie-action">L'action chirurgicale</a><br>
				<div class="interventions-slide-content" id="visage-blepharoplastie-action-content">
					La durée de l’intervention est de 1h pour les paupières supérieures et de 2h pour les quatre paupières.<br>
					Pour la paupière supérieure la cicatrice est dissimulé dans le pli palpébral.<br>
					Pour la paupière inferieure elle peut se faire soit sous les cils soit par voie endo-conjonctivale.<br>
					La quantité de peau à retirer à la paupière inferieure est très limitée afin d’éviter des complications (œil rond).
				</div><br>
				<a class="content-link" id="visage-blepharoplastie-duree">La durée d'hospitalisation</a><br>
				<div class="interventions-slide-content" id="visage-blepharoplastie-duree-content">
					Les paupières supérieures peuvent se faire en ambulatoire (sortie le jour même).<br>
					Pour les quatre paupières une nuit post-opératoire est souvent proposée.
				</div>
				<br>
				<h2 class='visage-title'>Les suites post-opératoires</h2><br><br>
				<a class="content-link" id="visage-blepharoplastie-suivi">Le suivi</a><br>
				<div class="interventions-slide-content" id="visage-blepharoplastie-suivi-content">
					Plusieurs consultations de suivi sont assurées:<br>
					Les fils sont retirés entre le sixième et le huitième jour, une consultation de contrôle à lieu au bout d’1 mois puis au bout d’ 1 an<br>
					Des compresses glacées sont également à appliquer sur les yeux les deux premiers jours.
				</div><br>
				<a class="content-link" id="visage-blepharoplastie-delais">Les délais</a><br>
				<div class="interventions-slide-content" id="visage-blepharoplastie-delais-content">
					Le résultat est appréciable sous 15 jours.<br>
					Les cicatrices peuvent être maquillées au huitième jour.
				</div>
            </div>
        </div>
        <div class="visage-bottom-content" id="rhinoplastie-content">
            <div class="interventions-bottomRight">
                <table><tr class="interventions-tr-first"><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-stetho.png') }}"></td><td>Une nuit d'hospitalisation</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-chrono.png') }}"></td><td>2h d'opération</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-moon.png') }}"></td><td>Anesthésie générale</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-arrow.png') }}"></td><td>Résultats sous 1 à 2 mois</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-price.png') }}"></td><td>Entre 3 000 € et 5 000 €</td></tr></table>
            </div>
            <div class="interventions-bottomLeft">
                <h2 class='visage-title visage-main-title'>La rhinoplastie</h2> vise à modifier l’aspect esthétique d’un nez. Elle peut être motivée par des problèmes fonctionnels ou par un souci esthétique.<br>
				<br>
				<div class="interventions-video">
					<iframe src="//player.vimeo.com/video/108706656" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<br>
				<h2 class='visage-title'>La préparation à l'intervention</h2><br><br>
				<a class="content-link" id="visage-rhinoplastie-premConsult">La première consultation</a><br>
				<div class="interventions-slide-content" id="visage-rhinoplastie-premConsult-content">
					Pendant cette première consultation aura lieu :<br>
					1/ La prise de contact<br>
					Cette première prise de contact a lieu au cabinet Thiers. 
					Elle permet de connaître les véritables motivations du patient et de préciser avec lui les anomalies qu’il souhaite corriger.<br>
					Cette première consultation est également le moyen de s’assurer de l’absence de troubles psychologiques (dysmorphophobie) qui pourraient constituer une contre-indication à l’intervention.<br>
					2/ L’examen clinique<br>
					L’examen clinique du nez avant opération est capital car l’intervention dépend de facteurs propres à chaque patient. Il permet d’évaluer:<br>
					- La qualité et l’épaisseur de la peau<br>
					- La qualité du cartilage, du soutien osseux, et la présence d’une bosse<br>
					- La perméabilité nasale, l’existence d’une déviation de cloison ou du phénomène de valve nasale.<br>
					Cet examen « endo-nasal » est indispensable car la restauration d’un nez fonctionnel après l’opération est aussi importante que son aspect esthétique.<br>
					3/ La remise des documents<br>
					Pendant cette première consultation, des photos pré-opératoires sont prises.<br>
					Les modalités opératoires sont expliquées, de même que les risques potentiels.<br>
					Un consentement opératoire ainsi qu’un devis détaillé et une fiche d’information sont remis au patient.<br>
					Dans certains cas post-traumatiques, une prise en charge peut-être accordée par l’Assurance Maladie après visite et accord du médecin conseil.
				</div><br>
				<a class="content-link" id="visage-rhinoplastie-secConsult">La seconde consultation : le bilan pré-opératoire</a><br>
				<div class="interventions-slide-content" id="visage-rhinoplastie-secConsult-content">
					La seconde consultation a  lieu après une première phase de réflexion indispensable au patient et permet d’élaborer plus spécifiquement le projet chirurgical.<br>
					Un nouvel entretien a systématiquement lieu entre le patient et le chirurgien, afin de rappeler les modalités de l’opération et de s’assurer de la bonne compréhension de l’intervention.
				</div>
				<br>
				<h2 class='visage-title'>L'intervention</h2><br><br>
				<a class="content-link" id="visage-rhinoplastie-anesth">L'anesthésie</a><br>
				<div class="interventions-slide-content" id="visage-rhinoplastie-anesth-content">
					Un rendez-vous avec l’anesthésiste est organisé plusieurs jours avant l’intervention.<br> 
					La rhinoplastie se déroule sous anesthésie générale pour le confort du patient.
				</div><br>
				<a class="content-link" id="visage-rhinoplastie-action">L'action chirurgicale</a><br>
				<div class="interventions-slide-content" id="visage-rhinoplastie-action-content">
					L’intervention dure le plus souvent entre 1h30 et 2h.<br>
					Le geste consiste la plus part du temps à retirer une bosse osseuse et à affiner la pointe.<br>
					Les incisions sont dissimulées à l’intérieur du nez ou parfois sur la columelle (voies externes).<br>
					L’intervention se termine par la pose d’un plâtre.
				</div><br>
				<a class="content-link" id="visage-rhinoplastie-duree">La durée d'hospitalisation</a><br>
				<div class="interventions-slide-content" id="visage-rhinoplastie-duree-content">
					Une nuit post-opératoire est requise. La sortie le lendemain de l’intervention après l’ablation des mèches.
				</div>
				<br>
				<h2 class='visage-title'>Les suites pos-opératoires</h2><br><br>
				<a class="content-link" id="visage-rhinoplastie-suivi">Le suivi</a><br>
				<div class="interventions-slide-content" id="visage-rhinoplastie-suivi-content">
					Plusieurs consultations de suivi sont assurées : au dixième jour pour l’ablation du plâtre, puis un contrôle à 1 mois et un à 1 an.<br>
					Les ecchymoses peuvent durer entre 10 et 15 jours.
				</div><br>
				<a class="content-link" id="visage-rhinoplastie-delais">Les délais</a><br>
				<div class="interventions-slide-content" id="visage-rhinoplastie-delais-content">
					Les premiers résultats sont observables sous 1 mois et le résultat définitif s’installe en 1 an.
				</div>
            </div>
        </div>
		 <div class="visage-bottom-content" id="lifting-content">
			<div class="interventions-bottomRight">
                <table><tr class="interventions-tr-first"><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-stetho.png') }}"></td><td>Une nuit d'hospitalisation</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-chrono.png') }}"></td><td>2h d'opération</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-moon.png') }}"></td><td>Anesthésie générale</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-arrow.png') }}"></td><td>Résultats sous 1 à 2 mois</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-price.png') }}"></td><td>Entre 5 500 € et 7 500 €</td></tr></table>
            </div>
            <div class="interventions-bottomLeft">
                <h2 class='visage-title visage-main-title'>Le lifting cervico-facial</h2> vise à restaurer l’ovale du visage et de supprimer les rides du cou et les bajoues.<br>
				Elle consiste à remettre en tension les muscles du visage qui se sont relâchés et de retirer l’excédent cutané.<br>
				<br>
				<div class="interventions-video">
					<iframe src="//player.vimeo.com/video/108707031" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<br>
				<h2 class='visage-title'>La préparation à l'intervention</h2><br><br>
				<a class="content-link" id="visage-lifting-premConsult">La première consultation</a><br>
				<div class="interventions-slide-content" id="visage-lifting-premConsult-content">
					Pendant cette première consultation aura lieu :<br>
					1/ La prise de contact<br>
					Cette première prise de contact permet de préciser la demande du patient et de connaître ses antécédents médicaux et chirurgicaux.<br>
					Elle a pour but d’informer des modalités de l’intervention en précisant ses risques et complications éventuelles.<br>
					2/ L’examen clinique<br>
					L’examen clinique avant opération est capital car l’intervention dépend de facteurs propres à chaque patient. Il permet d’évoquer les contre-indications (tabagisme) et d’évaluer:<br>
					- L’état cutané<br>
					- L’importance du relâchement musculaire<br>
					- L’épaisseur de la couche graisseuse<br>
					3/ La remise des documents<br>
					Pendant cette première consultation, des photos pré-opératoires sont prises.<br>
					Les modalités opératoires sont expliquées, de même que les risques potentiels.<br>
					Un consentement opératoire ainsi qu’un devis détaillé et une fiche d’information sont remis au patient.<br>
					Dans certains cas post-traumatiques, une prise en charge peut-être accordée par l’Assurance Maladie après visite et accord du médecin conseil.
				</div><br>
				<a class="content-link" id="visage-lifting-secConsult">La seconde consultation : le bilan pré-opératoire</a><br>
				<div class="interventions-slide-content" id="visage-lifting-secConsult-content">
					La seconde consultation a  lieu après une première phase de réflexion indispensable au patient et permet d’élaborer plus spécifiquement le projet chirurgical.
				</div>
				<br>
				<h2 class='visage-title'>L'intervention</h2><br><br>
				<a class="content-link" id="visage-lifting-anesth">L'anesthésie</a><br>
				<div class="interventions-slide-content" id="visage-lifting-anesth-content">
					L’intervention se déroule sous anesthésie générale.<br>
				</div><br>
				<a class="content-link" id="visage-lifting-duree">La durée d'hospitalisation</a><br>
				<div class="interventions-slide-content" id="visage-lifting-duree-content">
					Elle est de 3 jours environ.
				</div>
				<br>
				<h2 class='visage-title'>Les suites pos-opératoires</h2><br><br>
				<a class="content-link" id="visage-lifting-suivi">Le suivi</a><br>
				<div class="interventions-slide-content" id="visage-lifting-suivi-content">
					Avant la sortie les drains sont retirés<br>
					Les pansement est  refait le lendemain de l’intervention<br>
					Les fils sont retirés au huitième jour et les agrafes sur le cuir chevelu au dixième.
				</div>
            </div>
        </div>
		<div class="visage-bottom-content" id="oreilles-content">
			<div class="interventions-bottomRight">
                <table><tr class="interventions-tr-first"><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-stetho.png') }}"></td><td>2 jours d'hospitalisation</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-chrono.png') }}"></td><td>1h30 d'opération</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-moon.png') }}"></td><td>Anesthésie locale<br> ou générale</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-arrow.png') }}"></td><td>Résultats sous 3 mois</td></tr>
                <tr><td><img class="interventions-pictos" src="{{ asset('img/picto-interventions-price.png') }}"></td><td>1 500€<br>avec prise en charge sécu</td></tr></table>
            </div>
            <div class="interventions-bottomLeft">
                Procéder à une <h2 class='visage-title visage-main-title'>otoplastie (oreilles décollées)</h2> consiste à remodeler la forme des oreilles dont les pavillons sont proéminents.  Le cartilage du pavillon, responsable de la forme disgracieuse de l'oreille, est remodelé. Elle peut être pratiquée chez l’enfant à partir de 8 ans, quand le cartilage a fini sa croissance. Chez l’adulte elle est pratiquée à tout äge. Cette opération peut se pratiquer sur une seule oreille ou sur les deux.<br>
				<br>
				Trois types d'anomalies peuvent coexister :
- Malformation de l'ourlet du pavillon de l'oreille 
- Malformation de la conque : la cavité de l'oreille externe est trop importante, donnant l'impression d'une oreille projetée vers l'avant.
- Malformation de l'anthélix : sa forme est trop lisse par manque de plis, donnant un aspect disgracieux. 
<br>L'otoplastie peut corriger ces défauts en restructurant la forme du cartilage. Les oreilles sont recollées, leur symétrie est conservée et leur aspect reste naturel. Cette intervention peut être prise en charge par l'assurance-maladie.
				<br>
				<div class="interventions-video">
				<iframe src="//player.vimeo.com/video/108706654" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
				<br>
				<h2 class='visage-title'>La préparation à l'intervention</h2><br><br>
				<a class="content-link" id="visage-lifting-premConsult">La première consultation</a><br>
				<div class="interventions-slide-content" id="visage-lifting-premConsult-content">
					S’agissant le plus souvent d’enfants, cette première consultation a pour but de connaître leur véritables motivations et les raisons de cette demande (moqueries à l’ecole ou dans l’entourage). Il est recommandé d’opérer des enfants motivés et non des enfants poussés à consulter par les parents.
L’intervention est expliquée ainsi que ses suites et ses complications possibles. Il est capital que l’enfant comprenne le déroulement de celle ci afin d’en accepter les risques. A l’issue de la consultation des documents sont remis(consentement opératoire, devis)
				</div><br>
				<a class="content-link" id="visage-lifting-secConsult">La seconde consultation : le bilan pré-opératoire</a><br>
				<div class="interventions-slide-content" id="visage-lifting-secConsult-content">
					La seconde consultation a lieu après une première phase de réflexion indispensable au patient et permet 

d’élaborer plus spécifiquement le projet chirurgical.

Un nouvel entretien a systématiquement lieu entre le patient et le chirurgien, afin de rappeler les modalités de 

l’opération et de s’assurer de la bonne compréhension de l’intervention.

Un bilan pré-opératoire est donc nécessaire avant l’intervention.
				</div>
				<br>
				<h2 class='visage-title'>L'intervention</h2><br><br>
				<a class="content-link" id="visage-lifting-anesth">L'anesthésie</a><br>
				<div class="interventions-slide-content" id="visage-lifting-anesth-content">
					Chez l’enfant elle est le plus souvent générale.<br>

Chez l’adulte une anésthésie locale, potentialisée ou non, est possible.<br>

La technique utilisée est déterminée en fonction de chaque cas et selon le chirurgien 

intervenant dans le but de parvenir aux meilleurs résultats.<br>

INCISIONS DE LA PEAU :<br>

Elles se pratiquent sur la partie postérieure de l'oreille ou dans le sillon naturel situé derrière celle-ci.
Il n'est pas nécessaire de se couper les cheveux.
<br>
DISSECTION :<br>

Le chirurgien isole le cartilage.
<br>
RESTRUCTURATION DU CARTILAGE :<br>

Le remodelage du cartilage consiste à embellir les formes existantes de l'oreille en 

modifiant les plicatures qui sont maintenues par des sutures réalisées en profondeur. 

Le cartilage doit parfois être coupé. Le chirurgien peut modifier la position du pavillon 

au moyen de points réalisés sur différents niveaux.
<br>
POINTS DE SUTURE :<br>

Ils se résorbent seuls ou sont enlevés à partir du huitième jour.
<br>
BANDAGE :<br>

Il est constitué de bandes souples englobant les oreilles pour les maintenir et faisant 

le tour de la tête.

Il faut compter 30 à 90 minutes pour une intervention concernant les deux oreilles, en 

fonction du travail à réaliser.
<br>
				</div><br>
				<a class="content-link" id="visage-lifting-duree">La durée d'hospitalisation</a><br>
				<div class="interventions-slide-content" id="visage-lifting-duree-content">
					Elle est le plus souvent de 3 jours.

Le patient entre la veille de l’intervention et ressort le lendemain.

Dans certains cas une entrée le matin est possible

opératoire est recommandée.
				</div>
				<br>
				<h2 class='visage-title'>Les suites pos-opératoires</h2><br><br>
				<a class="content-link" id="visage-lifting-suivi">Le suivi</a><br>
				<div class="interventions-slide-content" id="visage-lifting-suivi-content">
					Le (ou la) patient(e) peut ressentir de faibles douleurs. Le praticien préconise des

antalgiques et des anti-inflammatoires.<br>

Le pansement est retiré le lendemain et remplacé par un bandage plus léger.

Celui ci sera conservé 8 jours.<br>

Au huitième jour le bandage et les fils sont retirés.<br>

Le(ou la )patient(e) devra porter un bandeau de contention pendant 15 jours.<br>

Les sports à risque seront contre indiqués pendant 3 mois.<br>

Un œdème peut survenir et dissimuler les formes du pavillon. De légères 

ecchymoses peuvent également apparaître. Ces symptômes de suite opératoire 

s'atténueront avec le temps.<br>

Les complications sont rares (hématome,nécrose cutanée,cicatrice hypertrophique)

.<br>

Au cours des premiers mois suivant l'intervention, il convient de ne pas exposer les 

oreilles opérées à des températures froides qui pourraient entraîner des gelures.
				</div><br>
				<a class="content-link" id="visage-blepharoplastie-delais">Les délais</a><br>
				<div class="interventions-slide-content" id="visage-blepharoplastie-delais-content">
					Il faut patienter un à deux mois pour apprécier les résultats, temps nécessaire aux 

tissus pour s'assouplir à nouveau et à l'oreille pour dégonfler.<br>

 Les cicatrices, rosées au début, s'atténuent au fil du temps.<br>

Cette banale intervention permet aux patients souffrant psychologiquement de ce 

défaut (notamment à l'école ou au travail), de se sentir mieux.<br>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/interventions.js') }}" type="text/javascript"></script>
{% endblock %}